<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.henry.shop.common.base.mapper.com.ComParamGroupMapper">

    <insert id="insert0" parameterType="com.henry.shop.common.base.model.dataobj.com.ComParamGroup" useGeneratedKeys="true">
        insert into com_param_group(name,num, cre_time, upd_time)
        values(#{group.name},#{group.num},#{group.creTime},#{group.updTime})
    </insert>
</mapper>