<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.henry.shop.common.base.mapper.com.ComVariantMapper">
    <delete id="deleteByGroupId">
        delete from com_variant where group_id = #{groupId}
            limit #{num}
    </delete>
</mapper>