# Copyright (c) 2017, Oracle and/or its affiliates. All rights reserved.
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; version 2 of the License.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301 USA

#
# The MySQL  Server configuration file.
#
# For explanations see
# http://dev.mysql.com/doc/mysql/en/server-system-variables.html

[mysqld]
pid-file        = /var/run/mysqld/mysqld.pid
socket          = /var/run/mysqld/mysqld.sock
datadir         = /var/lib/mysql

#最大连接数
max_connections=2048
#暂存的连接数
back_log=2048
#关闭一个连接的等待时间
wait_timeout=7200
#索引缓冲区
key_buffer_size=512M
#连接失败限制次数
max_connect_errors=20
#需要排序的线程缓存区（连接独有的，此处不能过大）
sort_buffer_size=4M
#表间关联缓存(连接独有，所以也不宜过大)
join_buffer_size=4M
#服务器线程缓存
thread_cache_size=500
#innodb缓存池大小
innodb_buffer_pool_size=4096M
#innodb线程并发数（一般设为cpu的两倍）
innodb_thread_concurrency=16
#插入数据的事务操作（对写入影响很大）（0-不做日志写入，每秒将log buffer中数据写入日志并flush磁盘一次；1-每次提交事务都做一次；2-每次事务提交引起写入日志文件的动作，做一次）
innodb_flush_log_at_trx_commit=0
#日志文件的内存大小
innodb_log_buffer_size=32M
#日志文件大小
innodb_log_file_size=50M
#读入缓冲区大小（连接独占，影响顺序扫描速度）
read_buffer_size=4M
#查询操作缓冲区大小（尽量不用太大）
read_rnd_buffer_size=16M
#批量插入数据缓存大小（影响插入效率）
bulk_insert_buffer_size=64M
#每个session的内存
binlog_cache_size=2M
#mysql清除过期日志的时间
expire_logs_days=7

skip-name-resolve

sync_binlog=0

secure-file-priv= NULL

# Custom config should go here
!includedir /etc/mysql/conf.d/
